attr==0.3.2
colorama==0.4.6
ConfigParser==7.1.0
cryptography==42.0.2
Cython==3.0.11
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
filelock==3.16.1
Flask==2.2.5
flask_cors==5.0.0
gensim==4.3.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==7.6.5
jnius==1.1.0
keyring==23.13.1
numpy==1.24.4
ordereddict==1.1
Pillow==10.4.0
pyobjc_framework_Cocoa==9.0
pyOpenSSL==24.0.0
pyOpenSSL==24.2.1
redis==5.0.8
Sphinx==5.0.2
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1